@font-face {
  font-family: 'dot';
  src:
    url('fonts/dot.ttf?gzfvbe') format('truetype'),
    url('fonts/dot.woff?gzfvbe') format('woff'),
    url('fonts/dot.svg?gzfvbe#dot') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-dot-"], [class*=" i-dot-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dot' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-dot-times:before {
  content: "\e900";
}
.i-dot-angle-r:before {
  content: "\e901";
}
.i-dot-angle-l:before {
  content: "\e902";
}
.i-dot-angle-t:before {
  content: "\e903";
}
.i-dot-arrow-l:before {
  content: "\e904";
}
.i-dot-arrow-r:before {
  content: "\e905";
}
